html {
box-sizing: border-box;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;
}
img {
display: block;
max-width: 100%;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
}
/* --------------------------------- --------------------------------- */
.circle-loading{
  width: 5rem;
  height: 5rem;
  margin: 5rem auto;
  background-color: royalblue;
  border-radius: 50%;
  position: relative;
  /* transform: scale(2);
  opacity: 0; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.circle-loading::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  animation: fade 1s linear infinite forwards;
}
@keyframes fade{
  /* from{
    transform: scale(1);
    opacity: 1;
  } */ /* giá trị ban đầu ko làm thay đổi vật thể -> tối ưu có thể bỏ, hoặc có thể điền vào 100%*/
100%{
    transform: scale(2);
    opacity: 0;
  }
}
/* --------------------------------- --------------------------------- */
.circles{
  text-align: center;
  margin: 5rem;
  /* transform: rotate(200deg); */
  /* transform: rotate(160deg); */
  /* transform: rotate(180deg); */
  animation: loading 1s infinite;
}
@keyframes loading{
  50%{
    transform: rotate(200deg);
  }
  75%{
    transform: rotate(160deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
.circle-item{
  width: 3rem;
  height: 3rem;
  border: 3px solid palevioletred;
  border-radius: 3rem;
  display: inline-block;
  margin: 0 0.5rem;
}
.circle-item:first-child{
  border-color: aquamarine;
}